# .github/workflows/ansible-lint.yml
name: ansible-lint
on:
  push:
    branches: ["main", "stable", "release/v*"]
jobs:
  ansible-lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
