---
name: Launch Ansible Playbook
on:
  workflow_dispatch:
    inputs:
      target_message:
        description: 'Message to print'
        required: true
        default: 'Hello from GitHub Actions!'
        
jobs:
  run-playbook:
    runs-on: ubuntu-latest
    container:
      image: ansible-community/community-ee-base:latest
    steps:
      - name: Output Ansible version
        run: ansible --version
        
      - name: Pull Git repo to container
        uses: actions/checkout@v4

      - name: Run Playbook
        run: |
          ansible-playbook -i inventory/hosts.ini main.yml -e "custom_message='${{ github.event.inputs.target_message }}'"
