---
name: Launch Ansible Playbook
on:
  workflow_dispatch:
    inputs:
      target_message:
        description: 'Message to print'
        required: true
        default: 'Hello from GitHub Actions!'
        
jobs:
  run-playbook:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ansible-community/community-ee-base:latest
      options: --user root
    steps:
      - name: Output Ansible version
        run: ansible --version
        
      - name: Pull Git repo to container
        uses: actions/checkout@v6
        
      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
        
      - name: Run Playbook
        run: |
          ansible-playbook main.yml -e "custom_message='${{ github.event.inputs.target_message }}'"
